@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: 'poppins',sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(webimg.jpg) no-repeat;
    background-size: cover;
    background-position: center;

}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    /* background: #27db66; */
    display: flex;
    justify-content: space-between;
    align-items: centers;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color:#ffffff;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #f96f2a;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 20px;
    /* box-shadow: 5px 5px 10px; */
    cursor: pointer;
    font-size: 1.1em;
    color: #ffffff;
    font-weight: 500;
    margin-left: 40px;
}

.navigation .btnlogin-popup:hover{
   background: #aa60a8;
   color: rgb(0, 0, 0); 
   transition: 0.5s;
   border: 2px solid #020202;

}

.wrapper{
  position: relative;
  /* i'll change the setting of this line. */
  width: 400px;
  height: 475px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 30px rgb(0,0,0,0.3); 
  overflow: hidden;
  transform: scale(0);
  display: flex;
  justify-content: center;
  align-items: center; 
  transition: transform .5s ease, height .2s ease;
}

.wrapper .icon-close:hover{
    background: hsl(180, 100%, 99%);
    color: #000000;
    border-color: #fff;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper .active{
    height: 520px;
}

.wrapper.form-box{
    width: 100%;
    padding: 40px;
    /* color: #fff; */
}

.wrapper .form-box.login{
    /* display: none; */
    transition: .18s ease;
    transform: translateX(100px);
}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register{
    transition: absolute;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register{
    transition: .18s ease;
    transform: translateX(-100px);
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    /* background: rgba(93, 90, 90, 0.5); */
    color: #000000;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
    font-size: 2em;
    color: #000000;
    top: 20px;
    text-align: center;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid black;
    margin: 30px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon{
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000000;
    line-height: 57px;
}

.remember-forgot{
    /* i'll change the setting of this section. */
    font-size: 0.8em;
    color: #0b0b0a;
    font-weight: 650;
    margin: -15px -23px 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: black;
    margin-right: 3px;
}

.remember-forgot a{
    color: black;
    text-decoration: none;
   
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    background: none;
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgb(0,0,0,0.4);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    /* margin-bottom: 10px; */
    transition: 0.7s ease;
}

.btn:hover{
    background: #000000;
    color: #fff;
    border-color: #fff;
}

.login-register{
    font-size: 14.5px;
    text-align: center;
    color: black;
    font-weight: 600;
    margin: 10px 0 15px;
}

.login-register p a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 650;
}

.login-register p a:hover{
    text-decoration: underline;
}


/* Responsive design */
@media only screen and (max-width: 780px) {
    header{
        padding: 20px 50px;
    }
    .logo{
        font-size: 1.5em;
    }
    .navigation a{
        font-size: 1em;
        margin-left: 20px;
    }
    .navigation .btnlogin-popup{
        width: 100px;
        height: 40px;
        font-size: 1em;
        margin-left: 20px;
    }
    .wrapper{
        width: 350px;
        height: 400px;
    }
    .form-box{
      padding: 30px;
    }
    .wrapper.active .form-box.login{
        transform: translateX(-350px);
    }
}


@media only screen and (max-width:480px){
    header{
        padding: 20px 20px;
        flex-direction: column;
        align-items: flex-start;
    }
    .logo{
        font-size: 1.2em;
        margin-bottom: 10px;
    }
    .navigation{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .navigation a{
        font-size: 0.9em;
        margin: 10px 0;
    }
    .navigation .btnlogin-popup{
        width: 100px;
        height: 40px;
        font-size: 1em;
        margin-left: 10px 0;
    }
    .wrapper{
        width: 300px;
        height: 380px;
    }
    .form-box{
        padding: 20px;
    }
    .form-box h2{
        font-size: 1.5em;
    }
    .input-box label{
        font-size: 1em;
    }
    .btn{
        height: 40px;
        font-size: 14px;
    }
    .wrapper.active .form-box.login{
        transform: translateX(-300px);
    }
}
